name: $(Date:yyyyMMdd)$(Rev:.r)

pool:
  vmImage: 'ubuntu-18.04'

trigger:
  branches: 
    include:
      #- master
      - feature/terraform
  paths:
    include:
      - src/WhackAMole.KubeAdmin
      - src/WhackAMole.KubeServices
      - src/Dockerfile.KubeAdmin
      - charts/kube-admin
      - azure-pipelines.kube-admin.yml

variables:
  acr_name: mtcdensandboxdemo
  image_name: whack-a-mole/kube-admin:$(Build.BuildNumber)

steps:
- task: AzureCLI@1
  displayName: 'Azure CLI '
  inputs:
    azureSubscription: 'MTC Denver Sandbox'
    scriptLocation: inlineScript
    inlineScript: |
      # User ACR to build and tag our container
      az acr build -r $(acr_name) -t $(image_name) -f ./src/Dockerfile.KubeAdmin ./src
      
      # Package the helm chart and push it to ACR
      helm init --client-only
      helm package charts/kube-admin --version $(Build.BuildNumber)
      az acr helm push -n $(acr_name) kube-admin-$(Build.BuildNumber).tgz
