name: $(Date:yyyyMMdd)$(Rev:.r)

pool:
  vmImage: 'ubuntu-18.04'

trigger:
  branches: 
    include:
      #- master
      - feature/terraform
  paths:
    include:
      - terraform
      - auzre-pipelines.terraform.yml

steps:
# Verify template and generate terraform plan
#- script: |
#    echo 'cmd: terraform fmt -check=true'
#    cd terraform    
#    terraform fmt -check
#  displayName: Verify terraform template

- script: |
    echo 'cmd: cp terraform/* ./ $(Build.ArtifactStagingDirectory) -R'
    cp terraform/* ./ $(Build.ArtifactStagingDirectory) -R  
  displayName: Copy terraform template to the staging directory

  # Publish build artifacts
- task: PublishBuildArtifacts@1